[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pandas = "*"
colorlog = "*"
beautifulsoup4 = "*"
lxml = "*"
python-magic = "*"
jsonlines = "*"
peewee = "*"
psycopg2-binary = "*"
attrs = "*"
sqlalchemy-utils = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.8"
